{% extends "base_admin.html" %}
{% block content %}
<div>
    <div class="editLeftColumn" style="width: 25%;">
        <div>
            <fieldset style="width: 95%">
                <legend>Shopping Cart Total</legend>
                <label>
                    <span class="label_tag spanGrey" id="firstName_lbl">Total: </span>
                    <input type="text" id="cartTotal_txt" name="cartTotal_txt">
                </label><br /><br />
                <div style="text-align: center;" >
                    <input type="button" id="refreshCart_btn" value="Refresh Carts" onclick="updateCartTotal()"><br /><br />
                </div>
            </fieldset>

        </div>
        <div>
            <fieldset style="width: 95%">
                <legend>Sum of Transactions</legend>
                <label>
                    <span class="label_tag spanGrey" id="firstName_lbl">Date From: </span>
                    <input type="text" id="dateFromPicker_dt" name="dateFromPicker_dt">
                </label><br /><br />
                <label>
                    <span class="label_tag spanGrey" id="firstName_lbl">Date To: </span>
                    <input type="text" id="dateToPicker_dt" name="dateToPicker_dt">
                </label><br /><br />
                <div style="text-align: center;" >
                    <input type="button" id="filterDate_btn" value="FilterDates" onclick="filterTxns()"><br /><br />
                    <label>
                        <span class="" id="txtTotal_lbl">Total: </span>
                        <input type="text" id="txnTotal_txt" name="txnTotal_txt" />
                    </label><br />
                </div>
            </fieldset>
        </div>
        <div>
            <fieldset style="width: 95%;">
                <legend>Generate Load</legend>
                <div style="text-align: center;" >
                    <input type="button" id="createCarts_btn" value="Create Shopping Carts" onclick="createCarts()">
                    <input type="button" id="crateTxns_btn" value="Create Transactions" onclick="createTxns()">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="editRightColumn" style="width: 74%; height:80vh;">
        <div style="display: inline-block; height: 35vh; width: 90%; text-align: right;">
            <table width="100%" id="cartTable" class="display">
                <caption>Top 50 Shopping Cart Items</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>SKU#</th>
                        <th>Price</th>
                        <th>Quanity</th>
                    </tr>
                </thead>
                <tfoot class="">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </tfoot>
            </table>
        </div>
        <div style="display: inline-block; height: 35vh; width: 90%; text-align: right;">
            <table width="100%" id="closedOrdersTable" class="display">
                <caption>Closed Orders Totals</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>SKU#</th>
                        <th>Price</th>
                        <th>Quanity</th>
                    </tr>
                </thead>
                <tfoot class="">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<SCRIPT>
    $.ajaxSetup({cache: false});
    $("#dateFromPicker_dt").datepicker({dateFormat: 'yy-mm-dd'}).datepicker("setDate", -30);
    $("#dateToPicker_dt").datepicker({dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
    jQuery(document).ready(function () {
        var cartTable = $('#cartTable').DataTable({
            "processing": false,
            "destroy": true,
            "retreive": true,
            "AjaxDataProp": "",
            "serverSide": false,
            "paging": true,
            "pageLength": 5,
            "iDisplayLength": 5,
            "lengthChange": false,
            "searching": true,
            "stateSave": false,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "scrollY": "25%",
            "scrollCollapse": true,
            "order": [[3, "desc"]],
            "ajax": {
                "type": "POST",
                "url": "getCartItems",
                "dataType": "json",
                "data": {}
            },
            "columns": [
                {"data": "name_title"},
                {"data": "id"},
                {"data": "price"},
                {"data": "ordered"}
            ],
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"},
                {"targets": 0},
                {"targets": 1},
                {"targets": 2},
                {"targets": 3}
            ]
        });
        var closedTable = $('#closedOrdersTable').DataTable({
            "processing": false,
            "destroy": true,
            "retreive": true,
            "AjaxDataProp": "",
            "serverSide": false,
            "paging": true,
            "pageLength": 5,
            "iDisplayLength": 5,
            "lengthChange": false,
            "searching": true,
            "stateSave": false,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "scrollY": "25%",
            "scrollCollapse": true,
            "order": [[3, "desc"]],
            "ajax": {
                "type": "POST",
                "url": "getClosedItems",
                "dataType": "json",
                "data": function (d) {
                    d.dateFrom = $.datepicker.formatDate("yy-mm-dd", $("#dateFromPicker_dt").datepicker('getDate'));
                    d.dateTo = $.datepicker.formatDate("yy-mm-dd", $("#dateToPicker_dt").datepicker('getDate'));
                }
            },
            "columns": [
                {"data": "name_title"},
                {"data": "sku"},
                {"data": "sale_price"},
                {"data": "ordered"}
            ],
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"},
                {"targets": 0},
                {"targets": 1},
                {"targets": 2},
                {"targets": 3}
            ]
        });

//        cartTable.on('draw', function () {
//            cartTable.columns.adjust().draw();
//        });

        createCarts = function () {
            $.ajax({type: "POST",
                url: "createShoppingCarts",
                dataType: "json",
                data: {},
                success: function (data) {
                },
                error: function () {
                    console.log("Had an error");
                }
            })
        };

        createTxns = function () {
            $("body").css("cursor", "wait");
            $.ajax({type: "POST",
                url: "createTransactions",
                dataType: "json",
                data: {},
                success: function (data) {
                    $("body").css("cursor", "default");
                },
                error: function () {
                    $("body").css("cursor", "default");
                    console.log("Had an error");
                }
            })
        };

        filterTxns = function () {
            $("body").css("cursor", "wait");
            $.ajax({type: "POST",
                url: "getTxnTotal",
                dataType: "json",
                data: {"dateFrom": $.datepicker.formatDate("yy-mm-dd", $("#dateFromPicker_dt").datepicker('getDate')),
                    "dateTo": $.datepicker.formatDate("yy-mm-dd", $("#dateToPicker_dt").datepicker('getDate'))},
                success: function (data) {
                    $("body").css("cursor", "default");
                    console.log(data);
                    try {
                        $("#txnTotal_txt").val(data['total_cost'].toFixed(2));
                    } catch (err) {
                        $("#txnTotal_txt").val("0.00");
                    }
                },
                error: function () {
                    $("body").css("cursor", "default");
                    console.log("Had an error");
                }
            })
        };
        updateCartTotal = function () {
            $("body").css("cursor", "wait");
            $.ajax({type: "POST",
                url: "getCartTotal",
                dataType: "json",
                data: {},
                success: function (data) {
                    $("body").css("cursor", "default");
                    console.log(data);
                    try {
                        $("#cartTotal_txt").val(data['total_cost'].toFixed(2));
                    } catch (err) {
                        $("#txnTotal_txt").val("0.00");
                    }
                    cartTable.ajax.reload();
                },
                error: function () {
                    $("body").css("cursor", "default");
                    console.log("Had an error");
                }
            })
        };
        updateCartTotal();
        filterTxns();
    });

</SCRIPT>
{% endblock %}