{% extends "base.html" %}
{% block content %}
<form name="logInForm" id="logInForm" action="/adminLogin" title="Admin Login" method="POST">
    Please log in: <br><br>
    <div style="text-align: right">
        <label>
            <span style="display:inline-block; width: 30%;" id="userName_lbl" class="spanGrey">Username: </span>
            <input type="text" id="userName_txt" name="userName_txt">
        </label><br><br>

        <label>
            <span style="display:inline-block; width: 30%;" id="password_lbl" class="spanGrey">Password: </span>
            <input type="password" name="password_txt" id="password_txt">
        </label><br>

        <i style="font-size: 15;">
            <input type="checkbox" name="showPassword" value="1" onchange="changeType()"> Show Password<br></i>
    </div>

    <label>
        <i style="font-size: 15;">Version: <span id="version"></span></i>
    </label>
    <hr>
    <input style="width: 100%;" type="button" value="Log In" onclick="agent_login()">  

</form>


<SCRIPT>
    $.ajaxSetup({cache: false});
    var logInForm,
            userName,
            password,
            showPassword,
            version;
    var url = {"url": "{{ request.url }}"};
    function changeType() {
        document.logInForm.password_txt.type = (document.logInForm.showPassword.value = (document.logInForm.showPassword.value == 1) ? '-1' : '1') == '1' ? 'password' : 'text';
    }
    ;
    jQuery(document).ready(function () {
        userName = jQuery("#userName_txt");
        password = jQuery("#password_txt");
        loginForm = jQuery("#logInForm");
        showPassword = jQuery("#showPassword");
        version = jQuery("#version");
        logInDialog = loginForm.dialog({
            width: 400,
            autoOpen: true,
            modal: false,
            dialogClass: "noClose",
            closeOnEscape: true,
            open: function () {
                var self = jQuery(this);
                version.text("0.1.0");
            },
            close: function () {
                logInDialog.dialog('close');
            }
        })

        agent_login = function () {
            var sendData = {"url": "{{ request.url }}", "userID": userName.val(), "password": password.val()};
            $("body").css("cursor", "wait");
            $.ajax({
                type: "POST",
                url: "adminLogin",
                dataType: "json",
                data: sendData,
                success: function (data) {
                    console.log(data);
                    if (data.success === true) {
                        var form = $('<form action="/Dashboards" name="hidden" id="hidden" method="post" style="display:none;"></form>');
                        $('body').append(form);
                        form.submit();
                    } else {
                        alert(data.error)
                    }

                    $("body").css("cursor", "default");
                },
                error: function () {
                    alert('error');
                }
            });
        };
    });
</SCRIPT>
{% endblock %}