{% extends "base.html" %}
{% block content %}
<table width="100%" id="catalogTable" class="display">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Category</th>
            <th>List Price</th>
            <th>Name</th>
            <th>Sale Price</th>
            <th>SKU#</th>
        </tr>
    </thead>
    <tfoot class="">
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
</tfoot>
</table>

<input type="button" value="Add to cart" onclick="addToCart()" {{ add_to_cart }} />

<SCRIPT>
    var dataSet = {{ dataSet|safe }};
    jQuery(document).ready(function () {
        
        console.dir(dataSet);
        var table = $('#catalogTable').DataTable({
            "processing": false,
            "AjaxDataProp": "",
            "serverSide": false,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "stateSave": true,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "destroy": true,
            "retreive": true,
            "scrollY": "50%",
            "scrollCollapse": true,
            "order": [[5, "desc"]],
            "data": dataSet,
            "columns": [
                {"data": "brand"},
                {"data": "category"},
                {"data": "list_price"},
                {"data": "name_title"},
                {"data": "sale_price"},
                {"data": "sku"}
            ],
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"},
                {"targets": 0},
                {"targets": 1},
                {"targets": 2},
                {"targets": 3},
                {"targets": 4},
                {"targets": 5}
            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                        );
                                column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                            })
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
        $('#catalogTable tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });

        addToCart = function () {
            var x;
            data = table.rows('.selected').data();
            rowData = {rows: []}
            rows = []
            for (x = 0; x < data.length; ++x) {
                rowData.rows.push(data[x]);
                rows.push(JSON.stringify(data[x]));
            };
            console.log(rowData);
            console.log(rows);
            $.ajax({
                type: "POST",
                url: "updateCart",
                dataType : "text",
                contentType: "application/json",
                data: JSON.stringify(rowData),
                success: function (data) {
                    console.log(data);
                    if (data.success === true) {
                        console.log("Updated Shopping Cart");
                    }
                },
                error: function () {
//                    alert('error');
                }
            });
        };

    });
</SCRIPT>
{% endblock %}