{% extends "base.html" %}
{% block content %}
<div id="tabs">
    <ul>
        <li><a href="#tab_userProfile">User Profile</a></li>
        <li><a href="#tab_recentOrder">Recent Orders</a></li>
    </ul>   
    <br/>
    <form name="ccForm" id="ccForm" action="/updateCC" title="Credit Card Updater" method="POST">
        <fieldset style="width: 90%;">
            <legend >Credit Cards</legend>
            <label>
                <span class="label_tag spanGrey" id="dialog_cardNumber_lbl">Card #: </span>
                <input type="text" name="dialog_cardNumber_txt" id="dialog_cardNumber_txt">
            </label><br>
            <label>
                <span class="label_tag spanGrey" id="dialog_cardExpiration_lbl">Expiration: </span>
                <input type="text" name="dialog_cardExpiration_dt" id="dialog_cardExpiration_dt">
            </label><br>
            <label>
                <span class="label_tag spanGrey" id="dialog_cardCode_lbl">Code: </span>
                <input type="text" name="dialog_cardCode_txt" id="dialog_cardCode_txt">
            </label><br>
            <div style="text-align: center; padding: 0px;">
                <label>
                    <span class="label_tag spanGrey" id="dialog_cc_active_lbl">Active: </span>
                    <input type="checkbox" name="dialog_cc_active_chk" id="dialog_cc_active_chk">
                </label><br>
                <input type="button" id="dialog_saveCC_btn" value="save" onclick="dialog_addCC()">
                <input type="button" id="dialog_cancelCC_btn" value="cancel" onclick="dialog_cancelCC()">
            </div>
        </fieldset>
    </form>

    <form name="addressForm" id="addressForm" action="/updateAddress" title="Address Updater" method="POST">
        <fieldset style="width: 75%;">
            <legend>Shipping address</legend>
            <label>
                <span class="label_tag spanGrey" id="dialog_ship_street1_lbl">Street1: </span>
                <input type="text" name="dialog_ship_street1_txt" id="dialog_ship_street1_txt">
            </label><br>
            <label>
                <span class="label_tag spanGrey" id="dialog_ship_street2_lbl">Street2: </span>
                <input type="text" name="dialog_ship_street2_txt" id="dialog_ship_street2_txt">
            </label><br>
            <label>
                <span class="label_tag spanGrey" id="dialog_ship_city_lbl">City: </span>
                <input type="text" name="dialog_ship_city_txt" id="dialog_ship_city_txt">
            </label><br>
            <label>
                <span class="label_tag spanGrey" id="dialog_ship_State_lbl">State: </span>
                <input type="text" name="dialog_ship_state_txt" id="dialog_ship_state_txt">
            </label><br>
            <label>
                <span class="label_tag spanGrey" id="dialog_ship_zipcode_lbl">Zipcode: </span>
                <input type="text" name="dialog_ship_zipcode_txt" id="dialog_ship_zipcode_txt">
            </label><br>
            <label>
                <span class="label_tag spanGrey" id="dialog_ship_active_lbl">Active: </span>
                <input type="checkbox" name="dialog_ship_active_chk" id="dialog_ship_active_chk">
            </label><br>
            <input type="button" id="dialog_saveAddress_btn" value="save" onclick="dialog_addAddress()">
            <input type="button" id="dialog_cancelAddress_btn" value="cancel" onclick="dialog_cancelAddress()">
        </fieldset>
    </form>

    <div id="tab_userProfile">
        <form name="userProfileForm" id="userProfileForm" action="/updateUserProfile" title="User Profile" method="POST">
            Please verify user information: <br><br>
            <div class="editLeftColumn">
                <label>
                    <span class="label_tag spanGrey" id="firstName_lbl">First Name: </span>
                    <input type="text" id="firstName_txt" name="firstName_txt">
                </label><br><br>
                <label>
                    <span class="label_tag spanGrey" id="lastName_lbl">Last Name: </span>
                    <input type="text" id="lastName_txt" name="lastName_txt">
                </label><br><br>
                <label>
                    <span class="label_tag spanGrey" id="email_lbl">Email: </span>
                    <input type="text" id="dialog_email_txt" name="dialog_email_txt">
                </label><br><br>
                <label>
                    <span class="label_tag spanGrey" id="phone1_lbl">Phone1: </span>
                    <input type="text" id="phone1_txt" name="phone1_txt">
                </label><br><br>
                <label>
                    <span class="label_tag spanGrey" id="email_lbl">Phone2: </span>
                    <input type="text" id="phone2_txt" name="phone2_txt">
                </label><br><br>                
                <label>
                    <span class="label_tag spanGrey" id="password_lbl">Password: </span>
                    <input type="password" name="dialog_password_txt" id="dialog_password_txt">
                </label><br>
                <i style="font-size: 15;">
                    <input type="checkbox" name="showPassword" value="1" onchange="changeType()"> Show Password<br>
                </i>
                <fieldset style="width: 90%;">
                    <legend >Credit Cards</legend>
                    <label>
                        <span class="label_tag spanGrey" id="ship_addresses_lbl">Cards: </span>
                        <select name = "credit_cards_select" id="credit_cards_select">
                        </select>
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="cardNumber_lbl">Card #: </span>
                        <input type="text" name="cardNumber_txt" id="cardNumber_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="cardExpiration_lbl">Expiration: </span>
                        <input type="text" name="cardExpiration_txt" id="cardExpiration_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="cardCode_lbl">Code: </span>
                        <input type="text" name="cardCode_txt" id="cardCode_txt">
                    </label><br>
                    <div style="text-align: center; padding: 0px;">
                        <label>
                            <span class="label_tag spanGrey" id="cc_active_lbl">Active: </span>
                            <input type="checkbox" name="cc_active_chk" id="cc_active_chk">
                        </label><br>
                        <input type="button" id="addCC_btn" value="add" onclick="addCC()">
                        <input type="button" id="removeCC_btn" value="delete" onclick="deleteCC()">
                        <input type="button" id="saveCC_btn" value="save" onclick="saveCC()">
                    </div>
                </fieldset>
            </div>
            <div class="editRightColumn">
                <fieldset style="width: 75%;">
                    <legend>Billing address</legend>
                    <label>
                        <span class="label_tag spanGrey" id="bill_street1_lbl">Street1: </span>
                        <input type="text" name="bill_sreet1_txt" id="bill_street1_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="bill_street2_lbl">Street2: </span>
                        <input type="text" name="bill_sreet2_txt" id="bill_street2_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="bill_city_lbl">City: </span>
                        <input type="text" name="bill_city_txt" id="bill_city_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="bill_State_lbl">State: </span>
                        <input type="text" name="bill_state_txt" id="bill_state_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="bill_zipcode_lbl">Zipcode: </span>
                        <input type="text" name="bill_zipcode_txt" id="bill_zipcode_txt">
                    </label><br>

                </fieldset>
                <fieldset style="width: 75%;">
                    <legend>Shipping address</legend>
                    <label>
                        <span class="label_tag spanGrey" id="ship_addresses_lbl">Addresses: </span>
                        <select name="ship_addresses_select" id="ship_addresses_select">
                        </select>
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="ship_street1_lbl">Street1: </span>
                        <input type="text" name="ship_sreet1_txt" id="ship_street1_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="ship_street2_lbl">Street2: </span>
                        <input type="text" name="ship_sreet2_txt" id="ship_street2_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="ship_city_lbl">City: </span>
                        <input type="text" name="ship_city_txt" id="ship_city_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="ship_State_lbl">State: </span>
                        <input type="text" name="ship_state_txt" id="ship_state_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="ship_zipcode_lbl">Zipcode: </span>
                        <input type="text" name="ship_zipcode_txt" id="ship_zipcode_txt">
                    </label><br>
                    <label>
                        <span class="label_tag spanGrey" id="ship_active_lbl">Active: </span>
                        <input type="checkbox" name="ship_active_chk" id="ship_active_chk">
                    </label><br>
                    <input type="button" id="addAddress_btn" value="add" onclick="addAddress()">
                    <input type="button" id="removeAddress_btn" value="delete" onclick="deleteAddress()">
                    <input type="button" id="saveAddress_btn" value="save" onclick="saveAddress()">
                </fieldset><br/>
                <label>
                    <i style="font-size: 15;">UserID: <span id="userID"></span></i>
                </label>
            </div>
            <div>
                <input style="width: 100%;" type="button" value="Update" onclick="updateUserProfile()">  

            </div>

        </form>
    </div>

    <div id="tab_recentOrder" >
        <table width="100%" id="ordersTable" class="display" style="width:100%;">
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Order Amount</th>
                    <th>Card Name</th>
                    <th>Bill Location</th>
                    <th>Ship Location</th>
                </tr>
            </thead>
            <tfoot class="">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </tfoot>
        </table>
    </div>
</div>

<div style="text-align: center; width: 100%; height: 75vh;">
    <div style="display: inline-block;width: 75vh; height: 100%;" id="target" />
</div>
<SCRIPT>
    $("#dialog_cardExpiration_dt").datepicker({dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
    $.ajaxSetup({cache: false});
    //    Variable Definition
    var logInForm,
            ccForm,
            addressForm,
            tabs,
            first_name,
            last_name,
            email,
            phone1,
            phone2,
            password,
            bill_street1,
            bill_street2,
            bill_city,
            bill_state,
            bill_zipcode,
            ship_addresses,
            ship_street1,
            ship_street2,
            ship_city,
            ship_state,
            ship_zipcode,
            ship_active,
            credit_cards,
            cardNumber,
            cardExpiration,
            cardCode,
            cardActive,
            userID;
    function changeType() {
        document.userProfileForm.password_txt.type = (document.userProfileForm.showPassword.value = (document.userProfileForm.showPassword.value == 1) ? '-1' : '1') == '1' ? 'password' : 'text';
    }
    ;
    jQuery(document).ready(function () {

        //       Variable assignment
        ccForm = jQuery("#ccForm");
        addressForm = jQuery("#addressForm");
        userProfileForm = jQuery("#userProfileForm");
        tabs = jQuery("#tabs");
        first_name = jQuery("#firstName_txt");
        last_name = jQuery("#lastName_txt");
        email = jQuery("#dialog_email_txt");
        phone1 = jQuery("#phone1_txt");
        phone2 = jQuery("#phone2_txt");
        password = jQuery("#dialog_password_txt");
        bill_street1 = jQuery("#bill_street1_txt");
        bill_street2 = jQuery("#bill_street2_txt");
        bill_city = jQuery("#bill_city_txt");
        bill_state = jQuery("#bill_state_txt");
        bill_zipcode = jQuery("#bill_zipcode_txt");
        ship_addresses = jQuery("#ship_addresses_select");
        ship_street1 = jQuery("#ship_street1_txt");
        ship_street2 = jQuery("#ship_street2_txt");
        ship_city = jQuery("#ship_city_txt");
        ship_state = jQuery("#ship_state_txt");
        ship_zipcode = jQuery("#ship_zipcode_txt");
        ship_active = jQuery("#ship_active_chk");
        credit_cards = jQuery("#credit_cards_select");
        cardNumber = jQuery("#cardNumber_txt");
        cardExpiration = jQuery("#cardExpiration_txt");
        cardCode = jQuery("#cardCode_txt");
        cardActive = jQuery("#cc_active_chk");
        userID = jQuery("#userID");
        //        Start doing things
        tabs.tabs();
        tabs.on("tabsactivate", function (event, ui) {
            var active = tabs.tabs("option", "active");
            var selectedTabTitle = $($("#tabs li")[active]).text();
            if (selectedTabTitle === "User Profile") {
                userProfileDialog.parent().show();
            } else if (selectedTabTitle === "Recent Orders") {
                userProfileDialog.parent().hide();
            } else if (selectedTabTitle === "Unused") {
                userProfileDialog.parent().hide();
            }
        });

        ccFormDialog = ccForm.dialog({
            width: 400,
            autoOpen: false,
            modal: true,
            closeOnEscape: true,
            position: {my: "center", at: "center", of: "#target"},
            open: function () {
                var self = jQuery(this);
            }
        });

        addressFormDialog = addressForm.dialog({
            width: 500,
            autoOpen: false,
            modal: true,
            closeOnEscape: true,
            position: {my: "center", at: "center", of: "#target"},
            open: function () {
                var self = jQuery(this);
            }
        });

        userProfileDialog = userProfileForm.dialog({
            width: 850,
            autoOpen: true,
            modal: false,
            dialogClass: "noClose",
            closeOnEscape: true,
            position: {my: "center", at: "center", of: "#target"},
            open: function () {
                var self = jQuery(this);
                $.ajax({type: "POST",
                    url: "getUserProfile",
                    dataType: "json",
                    data: {},
                    success: function (data) {
                        console.log(data);
                        ship_addresses.empty();
                        for (address in data['shipping_address']) {
                            console.log(data['shipping_address'][address]);
                            ship_addresses.append($('<option></option>')
                                    .attr("value", data['shipping_address'][address]['name'])
                                    .text(data['shipping_address'][address]['name']));
                            if (data['shipping_address'][address]['active'] == true) {
                                ship_street1.val(data['shipping_address'][address]['street1']);
                                ship_street2.val(data['shipping_address'][address]['street2']);
                                ship_city.val(data['shipping_address'][address]['city']);
                                ship_state.val(data['shipping_address'][address]['state']);
                                ship_zipcode.val(data['shipping_address'][address]['zipcode']);
                                ship_active.prop("checked", data['shipping_address'][address]['active']);
                            }
                        }
                        ;
                        for (cc in data['creditCards']) {
                            console.log(data['creditCards'][cc]);
                            credit_cards.append($('<option></option>')
                                    .attr("value", data['creditCards'][cc]['name'])
                                    .text(data['creditCards'][cc]['name']));
                            if (data['creditCards'][cc]['active'] == true) {
                                cardNumber.val(data['creditCards'][cc]['ccNum']);
                                cardExpiration.val(data['creditCards'][cc]['date']);
                                cardCode.val(data['creditCards'][cc]['cid']);
                                cardActive.prop("checked", data['creditCards'][cc]['active']);
                            }
                        }
                        ;
                        first_name.val(data['first_name']);
                        last_name.val(data['last_name']);
                        email.val(data['email']);
                        phone1.val(data['phone1']);
                        phone2.val(data['phone2']);
                        password.val(data['pw']);
                        bill_street1.val(data['billing_address']['street1']);
                        bill_street2.val(data['billing_address']['street2']);
                        bill_city.val(data['billing_address']['city']);
                        bill_state.val(data['billing_address']['state']);
                        bill_zipcode.val(data['billing_address']['zipcode']);
                        userID.text(data['userID']);
                    },
                    error: function () {
                        console.log("Had an error");
                    }
                });
            },
            close: function () {
                userProfileDialog.dialog('close');
            }
        });
        ship_addresses.change(function () {
            $.ajax({type: "POST",
                url: "getAddress",
                dataType: "json",
                data: {"name": ship_addresses.val()},
                success: function (data) {
                    console.log(data);
                    ship_street1.val(data['street1']);
                    ship_street2.val(data['street2']);
                    ship_city.val(data['city']);
                    ship_state.val(data['state']);
                    ship_zipcode.val(data['zipcode']);
                    ship_active.prop("checked", data['active']);
                },
                error: function () {
                    console.log("Had an error");
                }
            });
        });
        credit_cards.change(function () {
            $.ajax({type: "POST",
                url: "getCC",
                dataType: "json",
                data: {"name": credit_cards.val()},
                success: function (data) {
                    console.log(data);
                    cardNumber.val(data['ccNum']);
                    cardExpiration.val(data['date']);
                    cardCode.val(data['cid']);
                    cardActive.prop("checked", data['active']);
                },
                error: function () {
                    console.log("Had an error");
                }
            });
        });
        var table = $('#ordersTable').DataTable({
            "processing": false,
            "AjaxDataProp": "",
            "serverSide": false,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "stateSave": true,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "destroy": true,
            "retreive": true,
            "scrollCollapse": true,
            "order": [[0, "desc"]],
            "ajax": {
                "type": "POST",
                "url": "getOrders",
                "dataType": "json",
                "data": {}
            },
            "columns": [
                {"data": "order_date"},
                {"data": "amount"},
                {"data": "card_name"},
                {"data": "bill_location"},
                {"data": "ship_location"}
            ],
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"},
                {"targets": 0},
                {"targets": 1},
                {"targets": 2},
                {"targets": 3},
                {"targets": 4}
            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                        );
                                column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                            });
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                });
            }
        });
        $("#tab_recentOrder").on("click", function () {
            console.log("Clicked the tab");
            table.columns.adjust().draw();
        });
        updateUserProfile = function () {
            var userProfileData = {
                "userID": userID.text(),
                "first_name": first_name.val(),
                "last_name": last_name.val(),
                "email": email.val(),
                "phone1": phone1.val(),
                "phone2": phone2.val(),
                "password": password.val(),
                "bill_street1": bill_street1.val(),
                "bill_street2": bill_street2.val(),
                "bill_city": bill_city.val(),
                "bill_state": bill_state.val(),
                "bill_zipcode": bill_zipcode.val()
            };
            $.ajax({type: "POST",
                url: "updateUserProfile",
                dataType: "json",
                data: userProfileData,
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    console.log("Had an error");
                }
            });
        };

        addCC = function () {
            ccFormDialog.dialog('open');
        };
        
        dialog_cancelCC = function () {
            ccFormDialog.dialog('close');
        };
        
        dialog_addCC = function () {
            $.ajax({type: "POST",
                url: "addCC",
                dataType: "json",
                data: {"cardNumber": $("#dialog_cardNumber_txt").val(),
                    "exp": $.datepicker.formatDate("yy-mm-dd", $("#dialog_cardExpiration_dt").datepicker('getDate')),
                    "cid": $("#dialog_cardCode_txt").val(),
                    "active": $("#dialog_cc_active_chk").prop("checked")},
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    console.log("Had an error");
                }
            });
        };
        deleteCC = function () {
            if ($("#cc_active_chk").prop("checked") === true) {
                alert("Cannot delete an active CC");
            } else {
                $.ajax({type: "POST",
                    url: "deleteCC",
                    dataType: "json",
                    data: {"name": credit_cards.val()},
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        console.log("Had an error");
                    }
                });
            }
        };
        saveCC = function () {
            $.ajax({type: "POST",
                url: "saveCC",
                dataType: "json",
                data: {"name": credit_cards.val(),
                    "cardNumber": $("#cardNumber_txt").val(),
                    "exp": $("#cardExpiration_txt").val(),
                    "cid": $("#cardCode_txt").val(),
                    "active": $("#cc_active_chk").prop("checked")},
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    console.log("Had an error");
                }
            });
        };

        addAddress = function () {
            addressFormDialog.dialog('open');
        };

        dialog_cancelAddress = function () {
            addressFormDialog.dialog('close');
        };
        
        dialog_addAddress = function () {
            $.ajax({type: "POST",
                url: "addAddress",
                dataType: "json",
                data: {"street1": $("#dialog_ship_street1_txt").val(),
                    "street2": $("#dialog_ship_street2_txt").val(),
                    "city": $("#dialog_ship_city_txt").val(),
                    "state": $("#dialog_ship_state_txt").val(),
                    "zip": $("#dialog_ship_zipcode_txt").val(),
                    "active": $("#dialog_ship_active_chk").prop("checked")},
                success: function (data) {
                    location.reload()
                },
                error: function () {
                    console.log("Had an error");
                }
            });
        };
        deleteAddress = function () {
            if (ship_active.prop("checked") === true) {
                alert("Cannot delete an active shipping address");
            } else {
                $.ajax({type: "POST",
                    url: "deleteAddress",
                    dataType: "json",
                    data: {"name": ship_addresses.val()},
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        console.log("Had an error");
                    }
                });
            }
        };
        saveAddress = function () {
            $.ajax({type: "POST",
                url: "saveAddress",
                dataType: "json",
                data: {"name": ship_addresses.val(),
                    "street1": $("#ship_street1_txt").val(),
                    "street2": $("#ship_street2_txt").val(),
                    "city": $("#ship_city_txt").val(),
                    "state": $("#ship_state_txt").val(),
                    "zip": $("#ship_zipcode_txt").val(),
                    "active": $("#ship_active_chk").prop("checked")},
                success: function (data) {
                    location.reload();
                },
                error: function () {
                    console.log("Had an error");
                }
            });
        };
    });

</SCRIPT>
{% endblock %}