{% extends "base.html" %}
{% block content %}
<table width="100%" id="cartTable" class="display">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Category</th>
            <th>Name</th>
            <th>SKU#</th>
            <th>Sale Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tfoot class="">
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
</tfoot>
</table>

<input type="button" value="Update cart" onclick="updateCart()" />
<input type="button" value="Commit to purchase" onclick="purchaseCart()"  />



<SCRIPT>
    jQuery(document).ready(function () {
        var table = $('#cartTable').DataTable({
            "processing": false,
            "AjaxDataProp": "",
            "serverSide": false,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "stateSave": true,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "destroy": true,
            "retreive": true,
            "scrollY": "50%",
            "scrollCollapse": true,
            "order": [[5, "desc"]],
            "ajax": {
                "type": "POST",
                "url": "getCart",
                "dataType": "json",
                "data": {}
            },
            "columns": [
                {"data": "brand"},
                {"data": "category"},
                {"data": "name_title"},
                {"data": "sku"},
                {"data": "sale_price"},
                {"data": "qty"}
            ],
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"},
                {"targets": 0},
                {"targets": 1},
                {"targets": 2},
                {"targets": 3},
                {"targets": 4},
                {"targets": 5}
            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                        );
                                column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                            })
                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        purchaseCart = function () {
            var x;
            data = table.rows().data();
            rowData = {rows: []};
            rows = [];
            for (x = 0; x < data.length; ++x) {
                rowData.rows.push(data[x]);
                rows.push(JSON.stringify(data[x]));
            }
            ;
            $.ajax({
                type: "POST",
                url: "purchaseCart",
                dataType: "text",
                contentType: "application/json",
                data: JSON.stringify(rowData),
                success: function (data) {
                    //Not sure why I am having to parse the json. Seems weird
                    var inData = JSON.parse(data);
                    if (inData['status'] == "success") {
                        console.log("Completed Purchase");
                        var form = $('<form action="/home" name="hidden" id="hidden" method="post" style="display:none;"></form>');
                        $('body').append(form);
                        form.submit();
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        };
    });
//        Not going to work. Needs a pay for plug in. Not happening
//        $('#cartTable').on('click', 'tbody td', function () {
//            table.cell(this).edit();
//        });

</SCRIPT>
{% endblock %}