{% extends "base_admin.html" %}
{% block content %}
<div>
    <fieldset>
        <div style="display: flex; text-align: center;">
            <div>
                <label>
                    <span class="" id="txtName_lbl">Name </span><br>
                    <input type="text" id="txnName_txt" name="txnName_txt" onkeypress="updateTable()"/>
                </label>
            </div>
            <div>
                <label>
                    <span class="" id="txtFromDate_lbl">Date From </span><br>
                    <input type="text" id="FromDate_dt" name="FromDate_dt" onkeypress="updateTable()"/>
                </label>
            </div>
            <div>
                <label>
                    <span class="" id="txtToDate_lbl">Date To </span><br>
                    <input type="text" id="ToDate_dt" name="ToDate_dt" onkeypress="updateTable()"/>
                </label>
            </div>
            <div>
                <label>
                    <span class="" id="txnToAmount_lbl">Amount Low: </span><br>
                    <input type="number" id="FromAmount_num" name="FromAmount_num" onkeypress="updateTable()"/>
                </label>
            </div>
            <div>
                <label>
                    <span class="" id="FromAmount_lbl">Amount High: </span><br>
                    <input type="number" id="ToAmount_num" name="ToAmount_num" onkeypress="updateTable()"/>
                </label>
            </div>
            <div>
                <label>
                    <span class="" id="txtTotal_lbl">Ship Address: </span><br>
                    <input type="text" id="txnAddress_txt" name="txnAddress_txt" onkeypress="updateTable()"/>
                </label>
            </div>
        </div>
        <input type="button" id="queryUsers_btn" name="queryUsers_btn" value="Query" onclick="updateTable()" />
    </fieldset>
</div>
<div>
    <table width="100%" id="userTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Dollar Amount</th>
                <th>Shipping Address</th>
            </tr>
        </thead>
        <tfoot class="">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tfoot>
    </table>
</div>

<form>
   <!--This will include the dialog box for when a row is clicked on-->
</form>
<SCRIPT>
    $("#FromDate_dt").datepicker({dateFormat: 'yy-mm-dd'}).datepicker("setDate", -30);
    $("#ToDate_dt").datepicker({dateFormat: 'yy-mm-dd'}).datepicker("setDate", new Date());
    
    jQuery(document).ready(function () {
        var userTable = $('#userTable').DataTable({
            "processing": false,
            "destroy": true,
            "retreive": true,
            "AjaxDataProp": "",
            "serverSide": false,
            "paging": true,
            "pageLength": 15,
            "iDisplayLength": 15,
            "lengthChange": false,
            "searching": false,
            "stateSave": false,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "scrollY": "25%",
            "scrollCollapse": true,
            "order": [[0, "asc"]],
            "ajax": {
                "type": "POST",
                "url": "getAdminTxnList",
                "dataType": "json",
                "data": function(d){
                    d.name = $("#txnName_txt").val();
                    d.dateFrom = $.datepicker.formatDate("yy-mm-dd", $("#FromDate_dt").datepicker('getDate'));
                    d.dateTo = $.datepicker.formatDate("yy-mm-dd", $("#ToDate_dt").datepicker('getDate'));
                    d.dollarFrom = $("#FromAmount_num").val();
                    d.dollarTo = $("#ToAmount_num").val();
                    d.address = $("#txnAddress_txt").val();}
            },
            "columns": [
                {"data": "name"},
                {"data": "date"},
                {"data": "amount"},
                {"data": "address"}
            ],
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"},
                {"targets": 0},
                {"targets": 1},
                {"targets": 2},
                {"targets": 3}
            ]
        });

        updateTable = function () {
            userTable.ajax.reload(function () {
                userTable.draw()
            });
        };
    })
            ;
</SCRIPT>
{% endblock %}