.ajaxLoading {  
  cursor: progress !important;  
}  

body {
    background: #b4ddb4; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    border-radius: 25px;
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;

}

li a:hover {
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #61c419 0%, #b4e391 50%, #61c419 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #61c419 0%, #b4e391 50%, #61c419 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #61c419 0%,#b4e391 50%,#61c419 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    cursor: pointer;
}

h1 {
    background: -webkit-linear-gradient(#cbce1a, #75c16b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.editLeftColumn {
    text-align: left;
    float: left;
    width: 45%;
    height: 500px;
}

.editRightColumn{
    text-align: center;
    float: left;
    width: 55%;
    height: 475px;
}

.noClose .ui-dialog-titlebar-close {
   visibility: hidden;
}

label {
    text-align: right;
}

span.label_tag{
    text-align: right; 
    display:inline-block; 
    width: 30%
}

fieldset {
    display: inline-block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
}
th.dt-center, td.dt-center { text-align: center; }