groups:
- name: couchbase
  rules:
  # pre-compute rule to hold the number of nodes in the cluster
  - record: couchbase_node_count
    expr: count(system_status) by (cluster)
  # alert if the couchbase exporter is not up for the couchbase-eventing job
  - alert: CouchbaseEventingExporterDown
    expr: up{job="couchbase-eventing"} == 0
    for: 1m
    labels:
      severity: warning
      page: 'true'
    annotations:
      summary: 'Couchbase Exporter (Eventing) is down'
